body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #fbf9f9;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
  }
  
  
  .wrapper{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 10px;
    padding-top: 15%;
  }
  
  .Form-buttons{
    gap: 40%;
    display: flex;
  }
  
  .apply-button{
    width: 30%;
    display: flex;
    padding: 35px;
  
  }
  
  h1 {
    font-size: 40px;
    line-height: 1.1;
    padding: 25px;
    width: 100%;
  }
  
  h2{
    color: black;
  }
  
  
  
  .card{
    /* overflow: hidden; */
    box-shadow: 0 2px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* cursor: pointer; */
    background-color: #ffffff;
    border-radius: 10px;
    max-width: 30%;
    height: 30%;
    padding: 2em;
    /* margin-top: auto; */
  }
  
  .input-text{
    /* align-items: center; */
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .label-text{
    text-align: left;
    color: black;
  }
  .card-btn{
    display: block;  
  }
  /* .card-img img {
    width: 160px;
    height: 230px; 
    object-fit: contain;
    
  } */
  
  .card-img{
    width: 20%;
  }
  
  .card-body{
    width: 80%;
  
  
  }
  img{
    max-width: 100%;
    height: auto;
    display: block;
    
  }
  
  .content{
    display: flex;
    /* flex-direction: column; */
    gap: 2px;
    max-width: 100%;;
  }
  
  
  
  
  button {
    border-radius: 8px;
    /* border: 1px solid transparent; */
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #24a0fe;
    color: #ffffff;
    cursor: pointer;
    width: 50%;
    outline: 0;
    border: none;
    
    
  }
  
  .heading{
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    height: 20%;
    display: inline-flex;
    gap: 20px;
  
  }
  
  
  
  /* button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  } */
  
  /* @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  } */
  
  /* modal */

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-attachment: fixed;
  }
  
  
  .modal-content {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 12px;
    width: 400px;
    max-width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    position: relative;
    height: 75%;
  }
  
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #936639; 
    font-size: 24px;
    cursor: pointer;
  }
  
  .close-button:hover {
    color: #b08968; 
  }